[2014-03-21 18:39] cordoval opened #5 "improve exception message"
GuzzleHttp\Exception\RequestException: Error executing command: Will not follow more than 6 redirects in /Users/cordoval/Sites/project/vendor/guzzlehttp/guzzle/src/Client.php on line 191

is not very conveying of what is wrong

[2014-03-21 20:56] #5 closed, assigned to nobody

[2014-03-21 21:48] cordoval opened #6 "typehints for operations property"
should they be typehinted as both arrays and objects? is there any instance where they are accessed before they get turned into objects?

[2014-03-21 22:22] #6 closed, assigned to nobody

[2014-03-24 20:30] thasmo opened #7 "Parameter type validation is too strict"
This is an operation I defined:
[code]
When I'm calling the operation this way:
`$data = $client->users(['id' => '1574083']);`
this error comes up:
`Fatal error: Uncaught exception 'GuzzleHttp\Command\Exception\CommandException' with message 'Validation errors: [id] must be of type integer'`

Shouldn't an *integer-like* value be fine, although it's given as string?

[2014-03-25 03:15] cordoval opened #8 "question on integration with Guzzle4"
related https://github.com/nelmio/NelmioApiDocBundle/issues/355

[2014-03-25 04:14] #8 closed, assigned to nobody

[2014-03-26 20:58] sbward opened #11 "Update dependency on guzzlehttp/command"
Some new classes are needed from the command package, let's use a new tag or branch alias to pull them in

Corresponding issue in command: https://github.com/guzzle/command/issues/2

[2014-03-27 20:52] thasmo opened #12 "Parameter validation fails for union types"
This exception comes up:

[code]

I've double checked that the parameter _type_ is valid, in my case it is set to `video` but it still throws the exception above.

[2014-03-27 22:31] #12 closed, assigned to nobody

[2014-03-28 02:25] cordoval opened #13 "please remove wiki"

[2014-03-28 06:07] #13 closed, assigned to nobody

[2014-04-02 13:24] dhiva opened #15 "support to load service description from file"
Guzzle 3.7 had ConfigLoader to load service description from json file but config loading from file has been removed in services module. It would be nice to have that feature back which provided a good way to manage all the descriptions in one place.

[2014-04-26 10:10] seiffert opened #17 "Unify `extraData` in Descriptions"
I stumbled upon the fact that `Description`s use any information provided in the configuration array and add all keys it doesn't know to `Description::$extraData`. `Operation`s on the other hand neglect these additional keys unless they are provided in  `$config['data']`.
With this issue I would like to ask you, @mtdowling, for your reasoning behind this and whether you think that a unified API wo

[2014-04-28 15:26] edi9999 opened #18 "Description factory"
Hi,

I'm currently upgrading one app from Guzzle 3 to Guzzle 4. It seems that the static `factory` method has disappeared from the Description class, what's the best way to create a description from a file now ?

Thanks in advance.

[2014-04-29 11:19] edi9999 opened #19 "Testing Guzzle Services doesn't work"
Hi,

I'm trying to test a Guzzle Service I created:

The class I'm testing is the following

[code]

The test I wrote is the following:

[code]

Do you have any idea why the var_export shows null ?

Thanks in advance

[2014-04-30 04:13] #11 closed, assigned to nobody

[2014-04-30 04:13] #15 closed, assigned to nobody

[2014-04-30 04:15] #18 closed, assigned to nobody

[2014-05-05 10:49] #19 closed, assigned to nobody

[2014-06-02 08:02] GrahamCampbell opened #23 "Question?"
Is there an easy way to add custom transformers to yield objects other than Command\Model? I know I can use events, but that would be a bit hacky if I am using Services\Description. For example, if I were to do this:

[code]

I'd like to be able to return a collection of users, not a "Model".

I hope I'm not missing something obvious. I'm fairly new to guzzle.

[2014-06-04 04:32] cordoval opened #25 "create mock subscriber requests from descriptions"
I just thought about enabling services to create mock on client side so we can test things starting from the specification, so let's create something that would do this? I was looking for you tonight @mtdowling :blush:

[2014-06-04 18:31] #23 closed, assigned to nobody

[2014-06-06 19:42] dao opened #26 "allow default 'location' on Model"
In starting to work with guzzle-services I've been annoyed and surprised that I have to specify `location` for  each property of an object-type `Model`. Is it so crazy to assume that all `properties` of a `Model` with `"location": "json"` also have json locations?

[2014-06-18 18:51] ukautz opened #27 "Arrays nested under objects in JSON response broken?"
Not sure if this is a bug or to be expected. I am trying to write a descriptor for a data structure like following:

[code]

So basically nesting an `array` under an `object`. The descriptor would look along the lines of:

[code]

The model response dumped as json gives me:

[code]

In the tests (JsonLocationTest::testVisitsTopLevelArrays) I've found a variant of nested arrays, which does work wit

[2014-07-01 12:44] bakura10 opened #30 "Automatically returns array from command?"
Hi,

I've never used the "Model" feature of Guzzle, but rather only relied on the fact it returns response data as array. I've tried to switch a library to Guzzle 4, and now when I call a command:

[code]

$response is always null. It seems that I have to explicitly create a "getResponse" model (as in the doc), and add the "responseModel" property to all my commands. Can't Guzzle default to return

[2014-07-04 23:23] oste opened #31 "query location array can be comma separated"
I think it would be great if there could be a setting to switch the query location behavior to be comma separated rather than array based.

[code]

It would be nice to be able to do something like this

[code]

This would output `?ids=one,two`

[2014-07-09 20:12] GrahamCampbell opened #33 "Question"
How do I set parameters to go into the url in a `Description`. I know I can set them as `query` parameters as documented on the readme, but how do I inject parameters into the url itself?

[2014-07-09 20:20] #33 closed, assigned to nobody

[2014-07-17 13:46] gries opened #35 "Question: Mocking a Response does not throw exception"
Hi,
I'm currently trying to Test Error-Repsonses for my service-client and came accors the following issue.
If I create a Mock-Response according to the documentation:

[code]

and after that I execute a command as described in a service-description I'm getting a response containing the body 'Not Found'

If I on the other hand make the same call on a real-life-server a

[code]

How do I get the mo

[2014-07-25 18:05] #27 closed, assigned to nobody

[2014-07-26 21:43] GrahamCampbell opened #36 "Resouce Itterators"
When will these be returning to guzzle 4? Could you suggest an alternative that would work with guzzle 4?

[2014-07-27 03:18] #31 closed, assigned to nobody

[2014-07-29 11:52] magnetik opened #37 "[Fix included] XmlLocation requires text value to have attributes"
Hi,

The XmlLocation requires the xml to have a "text" value to have the content of the attributes.

Thus, xml like:

[code]

Won't work.

Easy fix: move the line 240: `$result = array_merge($attributes, $result);`, outside the if ($text !== null).

I can fork and make pull request if needed.

[2014-08-03 19:35] ksbomj opened #39 "Cannot add Autorization header to my requests"
Hi guys, I have following code:

Client class

[code]

Config settings

[code]

Usage

[code]

And I want add custom Autorizarion Bearer header to all requests, how I can do that? Add header to $client doesn't help cuz $result after call me method is NULL.

Thanks

[2014-08-05 11:35] #39 closed, assigned to nobody

[2014-08-08 15:56] masterjus opened #43 "CommandException expects second parameter to be CommandTransaction instance"
When there are errors on command execution it throws  CommandException and sets $event->getClient() as a second argument but CommandException expects that it will be CommandTransaction instance

[2014-08-08 17:39] #43 closed, assigned to nobody

[2014-08-08 17:43] #30 closed, assigned to nobody

[2014-08-11 07:47] masterjus opened #44 "CommandException doesn't contain response data"
What we do:

[code]

We're receiving errors from API and pass them to view. But `$exception->getTransaction()->getResponse()` is null.

[2014-08-29 08:33] gigablah opened #45 "Requesting a new version tag"
0.3.0 doesn't contain this fix: #43

Therefore I still get the described error when I pull in the library via composer. I'd like to avoid pinning to dev-master if possible.

[2014-09-10 11:38] bonndan opened #46 "Request parameter PathLocation"
I have to retrieve a REST subresource at /foo/{id}/bars?someParam=baz, i.e. the path contains a parameter. QueryLocation does not help here, so how can I send the proper query?

My plan is to add a PathLocation to the PrepareRequest subscriber, but how?

[code]

[2014-09-13 19:57] GrahamCampbell opened #47 "Validation Bug"
There is an issue with guzzle services as found here: https://github.com/GrahamCampbell/Laravel-CloudFlare-API/issues/9.

Note that the issue is that guzzle is not throwing the correct exception when type validation fails.

I've replicated this issue, and generated a stack trace:

[code]

[2014-09-15 06:10] #46 closed, assigned to nobody

[2014-10-13 11:41] L0rD59 opened #50 "GuzzleHTTP/Command Dependency fail"
Hi,

There are a problem with `guzzlehttp/command` dependency.

In composer.json `guzzlehttp/guzzle-services` require `guzzlehttp/command: ~0.2`

so i got the 0.7 version.

But this version has a BC with version 0.2

[code]

Can you adapt with the new version of GuzzleHttp/Command or require stric 0.2 version.

Thx for reply,

[2014-10-16 02:02] sprak3000 opened #51 "XmlLocation response not handling multiple tags of the same name correctly"
Working with the XML returned from [here](http://cdn.animenewsnetwork.com/encyclopedia/api.xml?anime=127), the XML returned contains multiple tags of the same name:

[code]

The resulting model contains this:

[code]

**Expected:** That first `cast` tag in the XML would have its contents encapsulated into item 0 in the array returned by getting the model's `cast` key.

e.g.,

[code]

[2014-10-16 02:38] sprak3000 opened #52 "XmlLocation not adding attributes to non-leaf child nodes"
Here is a snippet of the XML returned from [here](http://cdn.animenewsnetwork.com/encyclopedia/api.xml?anime=127):

[code]

The resulting model contains this:

[code]

**Expected:** The non-leaf elements should have an `@attributes` key containing all the attribute key/value pairs.

[2014-10-16 03:50] #36 closed, assigned to nobody

[2014-10-21 18:45] #45 closed, assigned to nobody

[2014-10-24 16:25] GrahamCampbell opened #57 "Totally Broken With Guzzle 5"
[code]

The interesting guzzle stuff happens in here: https://github.com/GrahamCampbell/Laravel-CloudFlare-API/blob/a7ae6e2cfe30af64f967d8235548b62327b2f850/src/Factories/ClientFactory.php.

This used to work with guzzle 4.2 and guzzle services 0.3.0 with guzzle command 0.6.0.

I am currently using **guzzle 5.0.1** with **guzzle services @0ad83bfcfdf53ee48de506ce8256a85d5d7aff3a** and **guzzle com

[2014-10-25 19:19] GrahamCampbell opened #58 "Exceptions Thrown From Subscribers Are Ignored?"
![ph4kkhi](https://cloud.githubusercontent.com/assets/2829600/4780859/9cf6ada6-5c7b-11e4-8fd3-85b4755bf888.png)
For some reason the code continues without throwing this exception at a later point? This used to work in guzzle 4. I've done some debugging, and this exception is definitely thrown from this subscriber, but for some reason guzzle ignores it, and continues anyway?

[2014-10-26 20:15] #57 closed, assigned to nobody

[2014-10-26 20:15] #58 closed, assigned to nobody

[2014-10-26 21:14] #50 closed, assigned to nobody

[2014-11-02 22:56] pjcdawkins opened #61 "Tag version 0.4.0"
Please tag a new version, presumably `0.4.0`.

It seems that `0.3.0` is broken, and the current README.md already recommends

[code]

[2014-11-03 18:35] #61 closed, assigned to nobody

[2014-11-26 09:56] bjsmasth opened #62 "Does it supports custom class instantiate to define an operation using a service description"
In the previous version of guzzle 3.*, the property name 'Class' is defined to define an operation using a service description, which allows more customized logic to be implemented in user-land code.

Does it supports in current version?

[2014-11-26 17:41] #62 closed, assigned to nobody

[2014-12-22 23:31] #47 closed, assigned to nobody

[2014-12-22 23:32] #25 closed, assigned to nobody

[2014-12-22 23:39] #35 closed, assigned to nobody

[2014-12-23 00:11] #37 closed, assigned to nobody

[2014-12-23 00:13] #44 closed, assigned to nobody

[2014-12-23 17:49] #52 closed, assigned to nobody

[2014-12-23 17:49] #51 closed, assigned to nobody

[2014-12-23 19:14] #26 closed, assigned to nobody

[2014-12-26 17:12] Rarst opened #64 "Assigning data to the "root" of result?"
I am making a service for API that returns (sometimes) serialized PHP in response bodies.

This is model I have so far for them:

[code]

But since I am not interested in anything else in response I would like to get rid of pointless "body" level in resulting array. `additionalProperties` approach doesn't seem to work here as it does with JSON or I can't figure out how to apply it.

[2015-01-01 21:27] bakura10 opened #65 "Updating the description"
Hi,

In Guzzle 3, there was a setDescription method. This is useful in some cases. I'm using this for my Stripe wrapper, so that depending on the version you want of Stripe, it loads a different descriptor.

What is the currently recommended way to do it? If there's no reason, I will do a PR to add it :).

Thanks!

[2015-01-01 22:50] bakura10 opened #66 "errorResposnes from operation is never used"
Hi,

In the Operation descriptor, there is a "errorResponses" hash that is supposed to be used. While it's read by the operation, it seems to be never used elsewhere in the code. As a consequence, user defined exception are never triggered.

Did I miss something or is the doc outdated? :)

Thanks!

[2015-01-01 23:17] mtdowling commented on #66
These are meant only for documentation and metadata purposes. Having Guzzle throw an exception would mean that it would require much more metadata on how to convert a response or network error into an exception class. Guzzle would also need some kind of factory to create exceptions. I've intentionally omitted throwing custom exceptions to avoid this complexity.

With that said, you could utilize t

[2015-01-01 23:19] bakura10 commented on #66
I see... What if I write a reusable subscriber? I've checked my various Guzzle 3 integrations and I actually use this all the time, so that would mean duplicate the same code everywhere. While I understand that it does not throw exception by default, at least it should have a default one :).

[2015-01-01 23:21] mtdowling commented on #65
This was omitted to reduce the mutability of the client. Allowing the description to change at runtime could require other collaborators to be aware of the change after the client is created (e.g., signing requests using a specific API version). This was an issue for us with the AWS SDK, so we decided to not allow the description to be mutable.

The recommended way to create clients with different

[2015-01-01 23:24] mtdowling commented on #66
What do you mean by having a default one?

[2015-01-01 23:24] bakura10 commented on #65
I've ended up in making my Client not extended Guzzle Client, and creating the guzzle client each time I change the API version (https://github.com/zf-fr/zfr-stripe/blob/guzzle-5/src/Client/StripeClient.php#L316). I'm not sure if that's the best way (I'm not fond of having my StripeClient both a "httpClient" and "guzzleClient").

[2015-01-01 23:26] bakura10 commented on #66
Well, having a default listener that you can attach, and that will reuse the "errorResponses" to create an exception. It won't be registered by default, but at least it removes the need to write this boilerplate code in all libraries.

[2015-01-02 09:33] bakura10 commented on #66
Hi,

I tried to do this this morning, unfortunately I didn't found any way to attach a listener to a command error from my client. If I hook to the "error" event, then I cannot have access to the command. Is there any way to do that simply, or am I forced to overload the __call, manually creating the command, attaching a subscriber, and trigger it?

[2015-01-02 09:45] bakura10 commented on #66
Actually, the problem is that the current operation cannot be retrieved from a command... still trying to work around this =).

[2015-01-06 17:22] jwcobb commented on #7
@thasmo In October @mtdowling added the `number` and `numeric` types that should handle your issue.

@brunogaspar and @dao You can use `'format' => 'boolean-string'` which will convert booleans as you are describing.

[2015-01-07 06:30] brunogaspar commented on #7
@jwcobb Thanks, i haven't played with this in a while, but will give that a try in a few days.

[2015-01-10 13:48] bakura10 commented on #66
Still no luck with this @mtdowling . Is there a simple way to add a listener that will be able to have the response AND the command that was executed (along with the errorResponses array). This is pretty necessary to do the reusable error exception listener.

[2015-01-10 18:35] mtdowling commented on #66
You have access to the operation information from the client that is pass around as part of each command event. You can retrieve the service description from the client and the specific operation information from the description using the name of the command.

Something like this:

[code]

[2015-01-11 22:44] mtdowling commented on #7
Closing now since the addition of number and numeric address this issue.

[2015-01-11 22:44] #7 closed

[2015-01-11 22:56] mtdowling commented on #65
That sounds like the right approach.

[2015-01-11 22:56] #65 closed

[2015-01-14 18:58] #66 closed

[2015-02-02 23:08] webbj74 opened #68 "Where's the ServiceDescriptionLoader/AbstractConfigLoader?"
I'm trying to upgrade from guzzle/service 3.x and noticed that ServiceDescription class has been removed. I've seen #15 and #18 regarding the upgrade path. However, the new Description class in guzzle/guzzle-services lacks support for the JSDL "includes" parameter (formerly handled by AbstractConfigLoader). With Guzzle3 the JSDL abstraction was absolutely critical to make the JSON files maintainab

[2015-02-02 23:12] mtdowling commented on #68
This version of Guzzle' service descriptions just takes the input value as-is. Yeah, I would suggest trying to find another package that provide the JSDL style includes and using that along-side this package when resolving descriptions.

[2015-02-03 04:44] webbj74 commented on #68
I've whipped together a small project which adapts your JSDL loader classes from the 3.x guzzle/service into a standalone project: [webbj74/jsdl-loader](https://github.com/webbj74/jsdl-loader). This worked for my purposes with minimal changes.

It wasn't clear from your comment above if this feature was dropped intentionally or, you just haven't had a chance to port it to 5.x. If this is something

[2015-02-05 18:00] dragonwize opened #69 "Where did the documentation go?"
I wrote code using Guzzle 4 services about 6 months ago and used documentation of the service description array options, however, I now can no longer find this documentation any where.

Where is the documentation for the description array options?

[2015-02-05 18:08] mtdowling commented on #68
@webbj74 Cool!

This is something I intentionally dropped. I wanted to make the library a lot more focused on just serializing and parsing messages. I was hoping libs like yours would spring up and fill in any gaps. Thanks for doing that!

[2015-02-05 18:08] #68 closed

[2015-02-05 18:10] mtdowling commented on #69
There aren't any docs yet, and this repo isn't yet stable. I'm hoping to get guzzlehttp/command tagged stable soon, thoroughly document it, then come back to guzzlehttp/guzzle-services to write more docs.

[2015-02-05 18:21] dragonwize commented on #69
I realize the code could can change, and am will to accept that. I have used this code successfully in the past and remember specifically reading about the different options in the service description such "extends", "$ref", etc.

I believe it was on the old guzzlephp site, if I remember correctly. However, the site is now completely different and archive.org has been no help as I think the URLs h

[2015-02-05 18:24] mtdowling commented on #69
The Guzzle 3 documentation is hosted at http://guzzle3.readthedocs.org/webservice-client/guzzle-service-descriptions.html. The docs here are going to differ in many ways from this repo (and the rest of the docs differ quite a bit from Guzzle 5).

[2015-02-15 16:53] fgrosse opened #70 "Returning mock responses"
I try to write a test for a guzzle client which uses service descriptions.
The response is mocked like described in the [current guzzle documentation](http://guzzle.readthedocs.org/en/latest/testing.html)

[code]

This works fine and I could confirm that the mock is actually used.
However the `$result` is always an empty array even though the underlying transaction got the correct response.

Since

[2015-02-22 15:32] rfink opened #71 "Allow shortened definition of properties in models"
Instead of always:

"MyModel" => [
    "type" => "string"
]

To shorten it to:

"MyModel" => "string"

If it's a plain type and needs no other configuration.  Pull request coming shortly

[2015-02-22 16:48] rfink opened #73 "Allow primitive response types for operations"
Right now, only objects and arrays are allowed as responseModel types, but there are many APIs where a raw data type is return, such as a string or number.  Would it be possible to implement this?  I believe old guzzle service descriptions allowed that.

[2015-02-27 00:57] rfink opened #75 "If property specified in json model but empty, notice raised"
If there is a property specified in a model that is not present in the returned JSON, there will be a notice raised for invalid index specified.  Quick fix PR coming shortly.

[2015-03-09 06:05] quarkmarino opened #77 "Allow to provide Post Body as an Array"
I've been learning Guzzle for the last week, and figured out a lot of stuff, but can`t make my service description to use the passed parameters array and take the parameters tagged for location 'body' and combine into an string, using postFiled for location, almost do it, but interpolates the & symbol, it would be nice to pass the body parameters just like the request body option array.

http://do

[2015-03-11 15:43] tomfotherby opened #78 "PUT requests with parameters with location of "postField" result in Exception"
I'm using v0.5 of this service. I have a _Service Description_ with a operation that uses `'httpMethod' => 'PUT'`:

[code]

When I try to consume the API I get an exception due to my use of `'location' => 'postField'`:

[code]

I tried `'location' => 'putField'` but that didn't work. I think this was fixed in a previous incarnation of the code, see https://github.com/guzzle/guzzle/issues/278 (but

[2015-03-16 17:35] Phobetor opened #79 "Is there a way to create an XML string element with attribues?"
Is there a way to create a service configuration for a string element with attributes like this with two parameters `name` (as an attribute) and `value` (as the element content)?
In my case it is an array of elements, but that's not the point.
[code]

I tried a lot of variation but the closest I got is this:
[code]

[code]

Thank you very much in advance for any hint!

[2015-03-18 13:05] matks opened #80 "Map a json-array into a Model"
Hello,

I am trying to find a way to map a json-array to an array of Model with a json service description.

The json returned by the API is quite simple:

[code]
 but although I have tried a lot of different ways, such as:

[code]

[code]
[code]

and also
[code]

None of this works, some will return an empty array, other a GuzzleHttp\Exception\ParseException: `Unable to parse JSON data: JSON_ERRO

[2015-03-18 22:21] hassankhan commented on #69
+1 on docs, I cannot figure out why I'm receiving no data back from a simple GET request to httpbin.org

For reference, here's the JSON schema:

[code]

[2015-03-19 09:31] shirshir commented on #69
You need to define the response model. Here is an example (in PHP array notation):

https://github.com/Rarst/wporg-client/blob/33fb0dcce9f170b92824d09f5717ca814d7ecd29/php/WporgService.php

[2015-03-19 14:22] hassankhan commented on #69
Thank you so much!!

[2015-03-19 16:05] hassankhan commented on #80
I was pointed to this: https://github.com/Rarst/wporg-client/blob/33fb0dcce9f170b92824d09f5717ca814d7ecd29/php/WporgService.php and it worked for me :)

[2015-04-14 10:28] aeoris opened #81 "Old responseClass behaviour"
I'm porting some services to Guzzle 5 from Guzzle 3. Most of our workflow is based on service descriptions. For the responses we used classes like that:

[code]

And...

[code]

Is this possible in Guzzle 5 yet or will it be anytime soon? If it's a missing feature, can I work on it or has it been discarded for a new way of doing that?

[2015-04-23 14:28] wirtsi commented on #80
Still, I don't see why the first approach should not work. I mean clearly the outer structure should be marked as an array, but then this array consists of the given models.

This maybeToArray seems like a very odd solution to me...

[2015-04-23 14:30] hassankhan commented on #80
I know, but in the absence of any decent documentation this was the only solution I could find. If you could find a better solution, I would love to see it :smile:

[2015-04-23 14:49] wirtsi commented on #80
Hey ... just figured it out. You need to use "location" => "json" on the array definition. So for my use case this works
[code]
Data in facet.json is
[code]
and facets.json is an array of these

[2015-04-24 07:19] wirtsi commented on #81
Hi ... I am also fighting with this feature, it seems to be making no sense or I'm too stupid to understand it.

When calling an operation and stuffing the response into the model processor, in the end I get exactly the same data back as if I had just called ->json() on the response.

Granted, I can do some field manipulations and integrity checks, but still I'd want some sort of object to be the

[2015-04-25 02:16] sprak3000 opened #82 "Regression of Issue #51 - XmlLocation response not handling multiple tags of the same name correctly"
Issue #51 was closed as fixed, but it appears there is a regression that has cropped up around it. It is back to the same behavior seen before; the first node is off on its own instead of encapsulated as item 0 in the array for the tag.

It looks like a bit of code from my original fix got nerfed at some point; the `else if` out of the fix (`src/ResponseLocation/XmlLocation.php` method `xmlToArray

[2015-04-26 14:42] matks commented on #80
I did not succeed to use the maybeToArray function suggested by @hassankhan but @wirtsi answer did work for my case. Thanks !

[2015-05-23 22:08] eddiejaoude commented on #69
Any docs coming soon?

[2015-05-23 22:09] eddiejaoude opened #86 "Mock Subscriber & Guzzle Services - empty array?"
When using the `Mock Subscriber` with Guzzle Services, I always get an empty array?

Any ideas on this or examples / docs?

[2015-06-03 09:17] ajanssen commented on #81
+1

[2015-06-03 12:55] ajanssen commented on #81
https://github.com/ajanssen/CsaGuzzleBundle/blob/master/src/GuzzleHttp/Command/Guzzle/GuzzleClient.php
https://github.com/ajanssen/CsaGuzzleBundle/blob/master/src/GuzzleHttp/Command/Guzzle/Subscriber/ProcessResponse.php

got it working with my own solution, see PR for a symfony bundle: https://github.com/csarrazi/CsaGuzzleBundle/pull/31/files

[2015-06-08 11:57] gimler commented on #86
see also #70
[code]

[2015-06-08 18:25] gimler opened #88 "Undefined Variable"
`$foundVisitors` is not defined https://github.com/guzzle/guzzle-services/blob/master/src/Subscriber/ProcessResponse.php#L200

[2015-06-09 05:26] gimler opened #89 "guzzle 6"
Possible to upgrade to guzzle 6?

[2015-06-09 13:22] gimler commented on #70
It works for me. Can you post your Schema and the mock file please?

[2015-06-10 07:56] fgrosse commented on #70
As you can see I created a minimal example to reproduce the issue.

[2015-06-10 08:19] gimler commented on #70
You must define a responseModel.

[2015-06-10 11:39] bakura10 commented on #89
Hi,

In addition to this, what is the status of the library? I have several libraries on guzzle 3 that I'd like to upgrade to this and guzzle 6 but as it's not v1 yet, I'm waiting.

As AWS no longer use guzzle services but a custom format, is it still the recommended way to create clients with Guzzle? Or do you think now it's actually better to follow what you're doing in AWS ?

[2015-06-10 19:43] mtdowling commented on #89
I believe @jeremeamia has some plans for how move Guzzle service descriptions forward.

[2015-06-10 20:03] gimler commented on #89
I rewrite my code actual from guzzle 3 to 5.3. The Missing feature is the responseClass feature see also #81.

[2015-06-11 12:29] fgrosse commented on #70
Does that mean I always have to have a response model?
Until now I was using the guzzle 3 service descriptions which would just return an array if there is no response model :/

[2015-06-11 13:49] gimler commented on #70
yes one workaround is that you can define a model for example array in the root file and than everytime use `responsModel: array`

[2015-06-11 13:53] fgrosse commented on #70
mmh yeah that works but its kind of inconvenient especially if you come from guzzle 3.
What do you think about having a default response model which creates array responses. This could work with the response content-type to know how to interpret data.

Until something like that exists I will define and use the following model in all of my service definitions (have to copy it in all service definit

[2015-06-17 19:06] snoek09 commented on #89
I'm having the same problem. I would like to know more about those plans @jeremeamia

[2015-06-25 07:32] csarrazi commented on #89
:+1:

[2015-06-26 10:03] csarrazi commented on #89
Would be glad to hear about these plans, too. I'd be glad to help. :)

[2015-07-03 00:36] onema commented on #89
:+1:

[2015-07-06 08:32] richhl commented on #69
same doubt.  thx

[2015-07-06 08:41] richhl opened #90 "Grab a list of objects when they are not located at top level of a json response (HATEOAS)"
How am i supposed to code my model section to grab the list of products of a json response as shown bellow?

[code]

thx in advance.

[2015-07-06 14:22] ssanders commented on #90
[code]

[2015-07-06 14:37] richhl commented on #90
Thx @ssanders  but i need to grab it through service description model....like this:

[code]

[2015-07-07 17:48] bjsmasth commented on #90
use GuzzleHttp\Client;
use GuzzleHttp\Command\Guzzle\GuzzleClient;
use GuzzleHttp\Command\Guzzle\Description;

$client = new Client();
$description = new Description(json_decode(file_get_contents(__DIR__ . '/path to your json schema');

$guzzleClient = new GuzzleClient($client, $description);

$result = $guzzleClient->getProductsOutput();

[2015-07-13 08:46] richhl commented on #89
same. I'm just deciding how to consume an api from my sf2 app. Have decide to use custom responseClass but i've just found it is a missing feature for guzzle-services 0.5. Thx

[2015-08-19 11:34] shaun785 opened #91 "Map null reponse values to defined reponse model properties"
Hi,

I have noticed that when a response value for a field is null, the corresponding response model property isn't set. Take the following test for example -

[code]
The above test doesn't pass because link isn't being set. I've looked at the code and src/ResponseLocation/JsonLocation.php (Line 112) is using isset instead of array_key_exists. Is this expected behavior?

[2015-08-20 09:03] hassankhan commented on #89
+1 any update on this?

[2015-09-09 00:59] sonnygauran commented on #89
+1 on this too! 👍

[2015-09-15 15:17] JLGouwy commented on #78
I have the same problem with Method Patch and location postfield.

I use guzzle 5.0 & service 0.4.*

[2015-09-16 13:26] nediam opened #94 "Date of next version"
Hi. Could you release next version of guzzle-services?

[2015-10-01 22:08] peterfox opened #95 "PHP Fatal error: Unsupported operand types in guzzlehttp/guzzle-services/src/GuzzleClient.php on line 72"
Built a basic service description of:

[code]

But when testing it I simply get:

PHP Fatal error:  Unsupported operand types in /Users/sly/Projects/graphaware-reco-php-client/vendor/guzzlehttp/guzzle-services/src/GuzzleClient.php on line 72

I'm using PHP 5.5.15, I'm not sure why this error isn't more wide spread as googling hasn't turned up anything. Any thoughts?

[2015-10-03 23:38] peterfox commented on #95
Fixed the problem with pull request https://github.com/guzzle/guzzle-services/pull/96

[2015-10-23 19:32] jpw123 commented on #89
+1

[2015-10-27 23:17] jeremeamia commented on #89
Hello everyone, I'm working on a Guzzle 6 version of `guzzle/command`, which is a dependency to this library. I should have a PR open sometime next week for review.

[2015-10-27 23:18] csarrazi commented on #89
Great news, @jeremeamia! :)

[2015-10-27 23:28] onema commented on #89
Awesome! :+1:

[2015-10-27 23:58] mcrumm commented on #89
Sweeeeet! :+1:

[2015-10-28 10:59] evancauwenberg commented on #89
Great! I'm looking forward to it!

[2015-10-28 11:36] hassankhan commented on #89
Awesome news!! Thanks @jeremeamia!

[2015-10-28 13:54] jpw123 commented on #89
Thanks!! :+1:

[2015-11-04 17:22] fuhry commented on #95
Pull request #84 is merged which resolves the issue.

[2015-11-04 23:13] #95 closed

[2015-11-07 01:32] jimmypuckett commented on #89
@jeremeamia I am about to start a project that I would love to use service descriptions with guzzle 6, and I have been trying to decide what direction to go.  I just know that as soon as I get neck deep in going a different direction, you will release a great fix.

Do you have an ETA on this?

Thanks so much.

[2015-11-07 01:36] jeremeamia commented on #89
Unfortunately I do not. Right now, I'm about half-way done with the `guzzle/command` package, but I haven't started doing anything specifically with this one yet. My family and I are also preparing to move across the country in too weeks, so I'm a little constrained on time. Sorry. I'll keep everyone posted mon my progress though.

[2015-11-07 12:41] jimmypuckett commented on #89
@jeremeamia, thanks for letting me know.  I appreciate your effort & good luck with the move--moving sucks.

[2015-11-07 20:00] fillup commented on #82
Was this ever merged back in? I'm using version 0.5 now and this issue is present. I can confirm that the fix above resolves the issue. @sprak3000 did you submit another PR?

[2015-11-07 20:06] fillup opened #97 "Is it possible to NOT urlencode a specific uri parameter value?"
I would like to be able to pass a value for a uri paramter and have it inserted into the url as is, but it is being automatically urlencoded right now. Is there a way to prevent that?

[2015-11-07 20:29] mtdowling commented on #97
What's the use case? Have you already encoded the characters?

[2015-11-08 00:44] fillup commented on #97
Thanks for the quick response @mtdowling. My use case is I'm working with an API that handles pagination of data by providing the query string to append to the API call that includes all the parameters and stuff. So in my definition I just have {pagination} as the parameter and I pass in the value I get back from the API. However when Guzzle makes the call it urlencodes the parameter so it doesn't

[2015-11-10 16:28] sprak3000 commented on #82
@fillup I did submit a PR, and it was pulled into master (https://github.com/guzzle/guzzle-services/commit/dbd8aef6865cc39d000d8c15968f9792ae84829b).

They just haven't tagged an official release yet. Looks like they might be pulling more stuff in prior to a 0.6 tagged release.

Hope that helps.

[2015-12-03 08:39] jeremeamia commented on #89
I have a preview for [Guzzle 6 support in guzzle/command](https://github.com/guzzle/command/pull/30). Take a look and leave some feedback there, if you are interested.

[2015-12-03 22:26] michelt opened #98 "Problems with postField params"
Hey,

I'm using Guzzle 5.3 and guzzle-services 0.5. When I describe a service with POST method and postField params it generates a 400 bad request error (Error executing command: Client error response). It works well when I use "query" params instead.

Here is my code (description):

[code]

And this is how I use that service:

[code]

As I said, it works when I change 'location' to 'query' instea

[2015-12-15 18:34] james2doyle opened #99 "Runtime Exception Error is always empty"
It looks like [this line](https://github.com/guzzle/guzzle-services/blob/master/src/Serializer.php#L86) will always give you an incomplete message. See the following:

[code]

In the source, `$location` will always be empty when throwing this Exception. Further up the code, there is a variable called `$name` which is the key for that current working item. I propose the following:

[code]

In the c

[2015-12-22 23:41] localheinz commented on #89
:+1:

[2016-01-31 02:09] jeremeamia commented on #89
The `guzzlehttp/command` package is now updated for Guzzle 6 in [Version 0.9.0](https://github.com/guzzle/command/blob/master/CHANGELOG.md#090---2016-01-30). Now it's time to work on this one. :smile:

[2016-01-31 02:40] onema commented on #89
This is great news @jeremeamia, thank you!

[2016-01-31 05:05] jeremeamia commented on #71
Sorry, this is really old. I recently took over this project, and am looking at issues and PRs now. Honestly, I'd rather not make this change, since it is not that beneficial, and it complicates the specification.

[2016-01-31 05:05] #71 closed

[2016-01-31 05:14] jeremeamia commented on #98
Not sure why there would be an issue there. If you can capture debug or curl verbose output for each version (one using postField and one using query), that would help identify if there is an issue with this package or a misunderstanding of what the service actually needs.

[2016-01-31 05:19] jeremeamia commented on #73
Closing. See comment on #74.

[2016-01-31 05:19] #73 closed

[2016-01-31 05:20] jeremeamia commented on #94
Yes. Will do that soon. Then I will be working on a Guzzle 6 version.

[2016-01-31 05:20] #94 closed

[2016-01-31 05:35] jeremeamia commented on #91
The referenced PR was merged.

[2016-01-31 05:35] #91 closed

[2016-01-31 14:19] hassankhan commented on #89
Awesome news!! Thanks @jeremeamia!

[2016-01-31 14:26] bakura10 commented on #89
You made my day. Thanks @jeremeamia . I will FINALLY by abe to rewrite all my Client in Guzzle 6 and remove this Guzzle 3 dependency :D.

[2016-01-31 16:26] localheinz commented on #89
Nice job, @jeremeamia!

[2016-02-06 02:21] Saeven opened #100 "Have default params at client construction, gone away?"
I just upgraded guzzle and noticed that some tests were failing.  Seems this is no longer possible?

[code]

Where the client's base parameters would be merged with the get() parameters to create in this case, a 4 parameter request?  It was really handy with API calls for instance, where parameters are repeated across various calls.

Thanks for your guidance!

[2016-02-09 18:11] bakura10 opened #101 "combine method in Uri"
Hi,

I'm trying the Guzzle 6 branch (but the issue seems to exist on master branch as well). The Serializer is attempting to call "combine" (https://github.com/guzzle/guzzle-services/blob/master/src/Serializer.php#L167) over a GuzzleHttp\Psr7\Uri object, but this method does not exist (so it fails, obviously): https://github.com/guzzle/psr7/blob/master/src/Uri.php

[2016-02-10 08:30] bakura10 opened #102 "Allow parameters in baseUrl"
Hi,

I can see from the serializer that the URI template is resolved only for the path part: https://github.com/guzzle/guzzle-services/blob/guzzle6/src/Serializer.php#L148

However, it would be very nice if this could be made AFTER merging with the baseUrl, so we could have a service spec like that:

[code]

Thanks!

[2016-02-24 09:21] hacfi commented on #89
@jeremeamia I started trying out the `guzzle6` branch and right now I always get `null` as the result. Looking into the execution I see that `GuzzleHttp\Promise\Promise::settle` gets called 7 times and after the correct response gets stored in `$this->result` it gets overwritten again to null. Any idea where this might come from? I’m more than happy to work on a PR to fix this but would need some

[2016-02-24 10:32] hacfi commented on #89
Nevermind: https://github.com/guzzle/guzzle-services/blob/guzzle6/src/GuzzleClient.php#L48 is the source of the mysterious null response :)

[2016-02-24 10:36] jeremeamia commented on #89
Yeah, this package is not quite Guzzle6 ready yet. Still working on it. The Command package has been updated already though.

[2016-02-24 10:48] hacfi commented on #89
Yes, fully aware of that - really need this though so will try to make some progress and will create a PR if I make it work properly.

[2016-02-25 18:11] Pixopat commented on #101
Hi, I'm facing the same issue while trying to update a Symfony 2 app to Symfony 3. I have not find any fix or replacement yet. Any ideas are welcome!

[2016-03-15 01:47] aequasi commented on #69
Any update on this?

[2016-03-17 15:58] Mgibs commented on #101
I have a workaround for this issue.
In the file Serializer.php, line 152, replace
`$this->description->getBaseUrl()->combine($uri)`
with
`$this->description->getBaseUrl().$uri`

[2016-03-17 16:11] Mgibs commented on #101
A cleaner way maybe is to replace  with this :
`Uri::resolve($this->description->getBaseUrl(),$uri)`
Dont forget tu use Uri namespace

[2016-03-30 19:31] dccampbell commented on #89
@jeremeamia Are there any specific G6 issues for others to take a look at right now, or are updates forthcoming?

@hacfi Did you end up making any progress w/ that issue?

[2016-04-09 08:27] guillemcanal opened #103 "Anyone interested in patternProperties support ?"
Hello guys,

So what are `patternProperties` you may ask ?
Well it's part of the [JSON Schema specification](http://spacetelescope.github.io/understanding-json-schema/reference/object.html#pattern-properties),
and it allow one developper to describe objects with unpredictable keys.

Unlike `additionalProperties`, you can add constraints to your object member names (property name) using a **regular

[2016-05-12 00:39] fillup opened #104 "How to create dynamic XML from array"
I understand how to use the xml location for defining specific XML structures by defining a parameter with properties which have properties, etc.

But is there a way to just provide an array and have it serialized to XML automatically without needing to know the full structure before hand?

For example, say I want to send the following as the body:

[code]

I would really like to just call the ope

[2016-05-17 17:55] csarrazi commented on #89
@jeremeamia Any help wanted for the guzzle6 branch stabilisation?

[2016-05-17 19:10] jeremeamia commented on #89
Happy to have help. Haven't been able to work on this for a while, unfortunately. The current branch is in progress to update to use Guzzle 6 and the updated guzzlehttp/command and get the tests passing. Feel free to make PRs against that branch, and I'm happy to review.

[2016-05-17 19:14] csarrazi commented on #89
Ok. Any specific things that still need a bit of work?

Or is the current work mostly focused on making the tests work with Guzzle6 and the `master` branch of guzzlehttp/command?

[2016-05-17 19:25] jeremeamia commented on #89
Yep, that. There are a few `@todo`s in there and some more find & replace work to do. It's been a few months since I looked at it, so I can't remember everything. I'd suggest just diving in and seeing what you can do with it. If you run into specific questions let me know, and I might be able to look at it and remember things.

[2016-05-17 19:43] csarrazi commented on #89
Great, thanks for the pointers!
I'll take a look at this!

[2016-05-17 20:01] jeremeamia commented on #89
Good luck, and thank you.

[2016-06-06 08:54] snoek09 commented on #89
@csarrazi What's the current status? Perhaps we can split this up and divide the todo's.

[2016-06-06 09:12] csarrazi commented on #89
I've started migrating the Serializing part, for now. I'll try pushing something by the end of the week (as I'm currently abroad), but it won't be final.

[2016-07-13 08:31] Konafets commented on #89
Any update on this?

[2016-07-13 09:55] csarrazi commented on #89
Sorry, I was terribly busy lately. I will push some code tonight, once I get back home.

The current status is : nothing really usable for now, mostly working on serialization / deserialization, and trying to make the tests pass.

[2016-07-14 06:25] csarrazi commented on #89
@Konafets @snoek09 You can find the code in the `guzzle6-pr1` branch of my fork.

https://github.com/csarrazi/guzzle-services/tree/guzzle6-pr1

[2016-07-14 17:10] Konafets commented on #89
Thanks, I will try at the weekend. Thanks so far.

[2016-08-08 14:06] Pinolo opened #106 "The visit() method is expected to return a RequestInterface but it doesn't in JsonLocation"
in guzzle6, Serialize::prepareRequest() calls visit() but it expects a RequestInterface that goes to replace the one passed to the method. The visit() implementation of JsonLocation only writes to $this->jsonData and doesn't return anything, so the origina request is replaced with null.

[2016-08-08 14:16] Pinolo commented on #106
Duplicated, sorry

[2016-08-08 14:16] #106 closed

[2016-08-23 21:14] WillBro commented on #89
Hello all,

Another keen observer here and I'm wondering if there has been an update since Jul 14th?

I've been investigating Guzzle 6 for a usecase at work and finally got to wrapping my head around the Guzzle3->6->psr-7 journey since I last looked.

@csarrazi Judging by your fork you (and open to all as well) have a good grasp of the library (promises and the handler stack in particular) how do

[2016-08-27 11:38] Konafets commented on #89
Hey, last two days a got familar with the code and have a pretty good overview what to do. I started already with fixing the request locations and some other issues. Mainly making the tests work again but also introduce new tests.

Comments are highly welcome.

https://github.com/Konafets/guzzle-services/tree/guzzle6-pr1

[2016-09-14 21:08] Konafets commented on #89
Happy testing https://github.com/guzzle/guzzle-services/pull/109

[2016-09-19 23:24] fillup opened #110 "Please create version tag for current master branch"
I've developed an sdk that uses this library but it depends on some fixes that are in master branch but are not part of the latest release tag `0.5.0`. So I have to depend on `dev-master` in my `composer.json` but doing so causes problems for users of my sdk because it violates their minimum stability setting. Can you create a tag for current master branch so I can depend on a version rather than

[2016-09-23 14:48] guiyomh opened #111 "Broken composer install"
[code]
here my require :
[code]

[2016-09-23 14:55] nubs commented on #111
You are requiring guzzle 6, but guzzle-services needs guzzle 5 (not 6)

[2016-09-23 15:00] guiyomh commented on #111
Yes i just saw it,

i fix by make : `composer require guzzlehttp/guzzle-services dev-guzzle6`

[2016-09-23 15:00] #111 closed

[2016-09-24 00:45] guiyomh commented on #101
👍

[2016-09-26 07:48] Konafets commented on #89
@jeremeamia Did you had the chance to have a look at my PR?

[2016-09-26 23:47] fillup commented on #110
@jeremeamia @mtdowling Any chance you can push a quick tag?

[2016-10-20 09:00] #75 closed

[2016-10-20 09:16] Konafets commented on #80
I close the issue because it seems to be solved. Please reopen the issue if you have any further questions or the the issue is not solved in your opinion.

[2016-10-20 09:16] #80 closed

[2016-10-20 09:34] Konafets commented on #90
Did you figured out how to get the data?

[2016-10-20 10:02] Konafets commented on #98
Is this issue still valid? Can you provide the requested debug output?

[2016-10-20 12:37] Konafets commented on #102
Where does the `prefix` comes from?

[2016-10-20 12:40] Konafets commented on #101
@bakura10 Please checkout and test PR #109. Is the issue still valid?

[2016-10-20 12:43] Konafets commented on #100
This looks like an issue for Guzzle itself than an issue for GuzzleServices. Please open a new issue at  https://github.com/guzzle/guzzle/issues or reopen the issue if you think it belongs to this project.

[2016-10-20 12:43] #100 closed

[2016-10-20 12:45] #99 closed

[2016-10-20 15:18] bakura10 commented on #102
Hi,

Actually, I don't remember why I was asking that tbh :p. I think I was able to workaround by changing the base url programmatically. I'd say we could close. If I come around the use case again in the future I'll re-open with more details.

[2016-10-20 15:18] #102 closed

[2016-10-21 09:54] Konafets opened #112 "Improve the construction of baseUri in Description"
A given baseUrl in service description is constructed like this:
`$this->baseUrl = new Uri(isset($config['baseUrl']) ? $config['baseUrl'] : '');`

Why store an empty string when no a baseUrl given instead of storing an empty URI()?

`$this->baseUrl = isset($config['baseUrl']) ? new Uri($config['baseUrl']) : new Uri();`

[2016-10-21 10:09] Konafets opened #113 "What is the correct type of Parameter static option"
The service description knows a `static` option. From the header doc:

However, in the UnitTests the `static` option gets a string `static!` assigned.

Proposal: If `static` is boolean, we should change the test and also change the method name from `getStatic()` to `isStatic()`.

The [service description definition](http://guzzle3.readthedocs.io/_downloads/guzzle-schema-1.0.json) clearly defines `

[2016-10-21 11:14] Konafets opened #114 "Introduce a new Configuration object"
The Configuration object holds the config in an internal array. It should fullfil the following requirements:
- expose methods to access the configuration
- validates the configuration
- exposes `has()` method to check if a certain key set. Then we can declutter the code from `isset($config[*])` Methods.

[2016-10-23 15:58] 2ndGAB opened #116 "Compatibility problem with PHP7.0 ?"
Hello,
I recently installed your module which perfectly works with PHP5.6 on a new server running PHP7.0.
And with the exact same set of datas, it causes an error with JSON objects:

[code]

Any idea?

[2016-10-23 16:07] Konafets commented on #116
Can you to checkout PR #109, which uses Guzzle6 internally and should be compatible with PHP70. Does the error persists?

[2016-10-24 06:27] 2ndGAB commented on #116
Hello @Konafets,
Are you talking about Guzzle-services?
So do I have to specify `"guzzlehttp/guzzle-services": "0.**6**.*"` in my composer.json?

[2016-10-24 08:02] Konafets commented on #116
Hi,

Yes.

Some background: The master branch of this repo defines Guzzle5 as a dependency. But none of these libs are compatible with PHP70, but Guzzle6 is. Unfortunately the master of GuzzleServices is not compatible with Guzzle6 but #109 fix this. See #89 for the whole discussion.

Unfortunately you can not use composer here. You need to clone this repo via git and then apply the PR on this rep

[2016-10-24 12:59] 2ndGAB opened #117 "AbstractClient' not found"
Hello,
I've installed [guzzle-services](https://github.com/guzzle/guzzle-services/tree/guzzle6), [guzzle-command](https://github.com/guzzle/command/tree/guzzle6) and [guzzle 6](https://github.com/guzzle/guzzle) and on execution, I get the following error.

    Error: Class 'GuzzleHttp\Command\AbstractClient' not found
    File /var/www/2ndGuide/vendor/guzzlehttp/guzzle-services/src/GuzzleClient.ph

[2016-10-24 13:10] 2ndGAB commented on #117
Sorry I think my problem comes from repository clone

[2016-10-24 16:42] Konafets commented on #117
Please stay within #116  to solve the problem.

[2016-10-24 16:42] #117 closed

[2016-10-24 17:07] 2ndGAB commented on #117
I fighted a bit with dependencies to be able to install guzzle, guzzle-services and guzzle-command which are depending on other module.
I finally got everything.
Unfortunately, it's not so easy to migrate to guzzle 6 as Event class desappeared so that suppose to modify the topmost module using guzzlehttp.
So, I have to see that with the developper.... :-/

[2016-10-24 17:09] 2ndGAB commented on #116
I fighted a bit with dependencies to be able to install guzzle, guzzle-services and guzzle-command which are depending on other module, along with some other ones....
I finally got everything.
Unfortunately, it's not so easy to migrate to guzzle 6 as Event class desappeared so that suppose to modify the topmost module using guzzlehttp.
So, I have to see that with the developper.... :-/

[2016-10-25 07:04] Konafets commented on #116
You have to migrate your code to Guzzle6 as well. If you provide the code, maybe I can give you some hints. This would also an opportunity to collect some code snippets for a migration guide to help other devs.

[2016-10-25 18:14] 2ndGAB commented on #116
Good, So I suppose it's the branch named guzzle6?

--

Cordialement,

Alain Bonnefoy
Président
-------------------------

SecondGuide SAS
Ecosite, 96 rue Ronde des Alisiers
26400 Eurre
France
Tel: (+33) 4 69 64 73 01
Mob: (+33) 6 61 94 03 77
Email: alain.bonnefoy@2ndguide.fr
Web: www.secondguide.tours [5]

 [6] [7] [8] [7]

Le 24.10.2016 10:02, Stefano Kowalke a écrit :

Links:
------
[1] https://

[2016-10-26 06:18] 2ndGAB commented on #116
@Konafets, I would have liked but as I'm not the code owner, I afraid to not be able to do that...

[2016-11-18 21:43] Jaesin commented on #89
The guzzle 6 branch was created a couple of days ago so this can probably be closed:

[code]

[2016-11-18 21:49] Jaesin opened #118 "Create a new release for the guzzle6 branch"
Is there anything left to be done before a tagged release of the guzzle6 branch can be created?

[2016-11-19 13:12] Konafets commented on #118
The guzzle6 branch of [Guzzle Command](https://github.com/guzzle/command) need to be merged into master and a release has to be tagged first before Guzzle Service can follow. I am working at this topic.

[2016-11-19 13:13] Konafets commented on #89
I will close this issue when the branch is merged and the release is tagged.

[2016-11-21 01:19] Jaesin commented on #118
OK, so waiting on : https://github.com/guzzle/command/issues/35

[2016-11-24 16:08] Konafets commented on #89
Its finally done in 85c3969

[2016-11-24 16:08] #89 closed

[2016-11-24 16:13] Konafets commented on #116
I will close the issue. Please update your environment to use version 1.0.0 of this library. If your problem still exists, feel free to reopen the issue.

[2016-11-24 16:13] #116 closed

[2016-11-24 16:13] Konafets commented on #118
Done!

[2016-11-24 16:13] #118 closed

[2016-11-24 16:14] Konafets commented on #101
Just released version 1.0.0 which is compatible with Guzzle 6. I will close the issue, feel free to reopen it, if your problem still exists.

[2016-11-24 16:14] #101 closed

[2016-11-24 16:16] #88 closed

[2016-11-24 16:46] 2ndGAB commented on #116
@Konafets ok, thanks a lot

[2016-11-24 19:05] Rarst opened #119 "postField location not recognized after upgrading to 1.0"
Updating to 1.0 and there seems to be an issue with `postField` location:

[code]

For operation which clearly has `location` for parameters and was working fine previously:

[code]
https://github.com/Rarst/wporg-client/blob/9a542a8b171a66d83bca521acc1641dac0704c3d/php/WporgService.php#L157-L159

[2016-11-24 19:38] Konafets commented on #119
As mentioned here https://github.com/guzzle/guzzle-services/releases/tag/1.0.0 there is no PostFieldLocation anymore. You need to change it to `formParam`.

[2016-11-24 19:51] Rarst commented on #119
Ah, I misunderstood that.

Note that inline docs still refer to `postField` and `postFile` as valid default locations (in `Parameter` constructor).

[2016-11-24 22:49] Konafets commented on #119
Good catch. Thanks!

[2016-11-25 07:54] Konafets opened #120 "Adjust inline documentation of Parameter"
Note that inline docs still refer to postField and postFile as valid default locations (in Parameter constructor).

[2016-11-25 08:25] Konafets commented on #120
Fixed in 21d3b9b

[2016-11-25 08:25] #120 closed

[2016-11-25 08:27] #113 closed

[2016-11-25 08:29] Konafets commented on #112
Fixed in 85c3969

[2016-11-25 08:29] #112 closed

[2016-11-25 08:30] Konafets commented on #110
1.0.0 was released yesterday. Please test and reopen this issue if your problem still exists.

[2016-11-25 08:30] #110 closed

[2016-11-25 08:32] Konafets commented on #98
Closed after no answer since four weeks. Feel free to reopen this issue.

**Note:** 1.0.0 of guzzle-services is out which is compatible with Guzzle6.

[2016-11-25 08:32] #98 closed

[2016-11-25 10:06] kachar opened #121 "Tag pre 1.0.0 release"
Can you please create a new tag for the last commit with support for php < 5.5

We can't update composer on that platform and we have to switch from `dev-master` to specific commit `d8465d5f0a282192db4f0438ca6f2801fdd8b000`

The previous release before `1.0.0` is `0.5.0` created on Dec 23, 2014

[2016-11-25 10:42] Konafets commented on #121
Does `composer require guzzlehttp/guzzle-services:0.5.*` not work for you?

[2016-11-25 10:59] kachar commented on #121
It will load the version from 2014, not a recent version before the migration to guzzle 6

[2016-11-25 12:27] Konafets commented on #121
Every version has its own tag. All versions prior 1.0.0 uses Guzzle 5 or lower.

[2016-11-25 14:05] kachar commented on #121
In the tags page I see only `0.5.0` and `1.0.0`
https://github.com/guzzle/guzzle-services/tags

If you create a tag `0.9.0` or similar from `d8465d5f0a282192db4f0438ca6f2801fdd8b000` it will be a prior php 5.5 and we can point composer to that one with `0.9.*`

[2016-11-25 14:06] kachar commented on #121
That happens because there is no regular release on the repo for the last 2 years.

[2016-11-25 14:54] Konafets commented on #121
As you mentioned correctly there was no release between 0.5 and 1.0.0 and this is the reason why there is no need for an extra tag. Version 0.5 uses Guzzle 5 and requires PHP 5.4+.

Here is a [link](https://github.com/guzzle/guzzle-services/tree/5402867628d266748db88f05c90ede54fd1d884c) to the code when it was taggged as 0.5. Have a look in the [composer.json](https://github.com/guzzle/guzzle-serv

[2016-11-25 15:07] kachar commented on #121
Thanks a lot! I think we can close the thread now

[2016-11-25 15:07] #121 closed

[2016-12-08 15:56] forevermatt commented on #110
Excellent. This is very helpful. Thanks, @Konafets 😄

[2016-12-16 13:39] mims92 opened #122 "Header's keys are not the keys from the array"
Following the documentation,'

But it's not the case!

[code]

So if I pass `['myCustomHeader' => '1']` to the `header` parameter, I would assume having in the request header:
`myCustomHeader: 1`.
Actually, I have
`header: 1`.

Is this a bug?
Using Guzzle6

[2016-12-21 07:48] arjanvdbos opened #123 "Unable to POST multiple multipart parameters"
It's seems that POST-ing multiple multipart paramaters is not possible; the `GuzzleHttp\Command\Guzzle\RequestLocation\MultiPartLocation` overwrites the body for every parameter. So we end up with only the last parameter in the body.

[code]

Will result in:

[code]

[2016-12-21 13:20] Konafets opened #124 "Allow "file" as parameter type"
Consider the following description of an operation:

[code]

[code]
There is only 'any' as a valid file type available to specify the parameter. We should add 'file' here.

[2016-12-21 13:21] Konafets opened #125 "Implement "AdditionalParams" for MultiPart location"

[2016-12-21 13:30] Konafets commented on #123
Can you try latest `develop` branch. In case you want to send a file use `any` as param type.

[2016-12-21 13:55] arjanvdbos commented on #123
Thanks man, this solves the issue!

[2016-12-25 00:23] Konafets opened #127 "Set a name when pushing ValidatedDescriptionHandler to stack"
Consider the following scenario:

In userland we have a `Description` which defines the parameter `apiKey` as required for an operation `Foo`. Since the API key does not change very often, we store the key in a config. A `CustomHandler` in userland will read the config and add this parameter to the `Command` with every call.

But since `ValidatedDescriptionHandler` was already added by `GuzzleClie

[2017-01-09 09:34] bakura10 opened #128 "Regression in array parameter serialization"
Hi :),

First of all thanks a lot for the hard work that has been achieved in the new Guzzle services.

I've found a regression compared to my previous Guzzle 3 based service descriptor and I'm unsure how to fix it.

In one of my command, I have this:

[code]

Previously, doing this:

[code]

would properly serialize this code to the GET query "admin/metafields?metafield[owner_id]=bar&metafield[ow

[2017-01-10 09:17] bakura10 commented on #128
Actually, I think the proper type should be "object" instead of array for this use case.

However, after more testing, the "array" type still behaves strange. For instance, if I set a type of array and use this:

$client->getMetafields(['metafield' => [1, 2])

The client serialize it this way: "admin/metafields?metafield=1&metafield=2", while it should be "admin/metafields[]=1&metafields[]=2".

I'

[2017-01-10 09:31] bakura10 commented on #128
After investigation it appears the issue lies here: https://github.com/guzzle/psr7/blob/master/src/functions.php#L571

As stated in the function, "This function can use the return value of parse_query() to build a query string. This function does not modify the provided keys when an array is encountered (like http_build_query would)."

This is actually a major issue here, as we do not have any con

[2017-01-13 10:08] Konafets commented on #128
Fixed in 7846618

[2017-01-13 10:08] #128 closed

[2017-01-13 10:09] Konafets commented on #127
Fixed in 24f29d3

[2017-01-13 10:09] #127 closed

[2017-01-13 13:20] #123 closed

[2017-01-13 13:21] #119 closed

[2017-01-13 13:41] Konafets commented on #122
It looks like this has gone long time ago. Can't even find this described behavior in the origin code of Guzzle3 anymore. My first guess is that the docs are outdated.

[2017-01-13 13:53] Konafets commented on #77
I will close this issue. If your problem still exist with latest versions of Guzzle and Guzzle Service, feel free to reopen it.

[2017-01-13 13:53] #77 closed

[2017-01-13 13:56] Konafets commented on #78
I will close this issue. If your problem still exist with latest versions of Guzzle and Guzzle Service, feel free to reopen it.

[2017-01-13 13:56] #78 closed

[2017-01-13 13:57] Konafets commented on #82
I will close this issue. If your problem still exist with latest versions of Guzzle and Guzzle Service, feel free to reopen it.

[2017-01-13 13:57] #82 closed

[2017-01-13 13:59] Konafets commented on #97
@fillup Does your problem is still valid?

[2017-01-13 14:00] Konafets commented on #90
I will close this issue. If your problem still exist with latest versions of Guzzle and Guzzle Service, feel free to reopen it.

[2017-01-13 14:00] #90 closed

[2017-02-09 08:47] tmikaeld opened #133 "Question: How to run filter on response object?"
I've tried this:

[code]

But the response never get processed, the filter function does work on the response without filters.

[2017-02-13 16:09] danizord opened #134 "Filters are applied twice"
I have the following query param:
[code]

So, when I call `$client->getCustomers(['load_relations' => ['Contact']);` I'd expect Guzzle to send a request with the following query string: `?load_relations=%5B%22Contact%22%5D`.
But instead I got: `?load_relations=%22%5B%5C%22Contact%5C%22%5D%22`.

That's because Guzzle is filtering the value with `json_encode` twice:
1 - https://github.com/guzzle/guz

[2017-02-15 12:05] selfcatering commented on #64
Have you though about creating a custom deserializer that handles your scenario? You can implement `before` method for processing body when needed.

[2017-02-20 15:37] #134 closed

[2017-02-21 07:37] Konafets opened #137 "BC: Make all Request|Response Location classes final"
Yesterday I came aware that I don't see any reason why there is a need to extend those classes. The locations are not something which changes from consumer to consumer of this lib. Any major changes like how to extract a header from a HTTP message or new locations should be reflect by this lib itself.

In case you need a custom location you still can implement `AbstractLocation` by yourself.

As t

[2017-02-21 18:23] danizord commented on #133
@tmikaeld I'm having the same issue here. Have you managed to achive this?

[2017-02-21 18:31] tmikaeld commented on #133
@danizord Unfortunately not, I'm stick stuck on it

[2017-02-21 18:34] Konafets commented on #133
`models` has no `filters`. http://guzzle3.readthedocs.io/webservice-client/guzzle-service-descriptions.html#service-description-schema

[2017-02-21 18:37] Konafets commented on #133
I thought it was done because you closed it. Let me have look what happens there.

[2017-02-21 18:38] danizord commented on #133
@Konafets According to the schema you linked, the properties of `models` is a `$ref` of `parameters`, which does contain `filters`.

[2017-02-21 18:39] Konafets commented on #133
Yes, that I was figure out too and edited my comment ;-)

[2017-02-21 18:42] tmikaeld commented on #133
@Konafets I saw the docs too, but figured it was only for single values.

And i found another project that used this.

I closed it because i figured i did something wrong and didn't have time to fiddle with it.

[2017-02-21 18:43] tmikaeld commented on #133
I'm still curious for a solution though, I'd rather do it properly.

[2017-02-21 18:59] danizord commented on #133
Hey @tmikaeld and @Konafets, I've sent a PR to fix this: https://github.com/guzzle/guzzle-services/pull/138

[2017-02-27 10:02] blsn commented on #97
I'm having the same problem:
https://github.com/guzzle/guzzle/issues/1758

[2017-02-27 17:04] Konafets commented on #97
Has nothing todo with this package.

[2017-02-27 17:04] #97 closed

[2017-03-16 09:18] Napas opened #140 "Is there a way to reuse operation parameters?"
[code]

Is there a way to tell that payload in createUsers operation has an array with same parameters as createUser operation?

And can operation send array of objects without assigning it to the payload (or any other) key(s)?

[2017-03-23 12:28] Konafets commented on #140
Do your use https://github.com/gimler/guzzle-description-loader for processing this yaml config?

[2017-05-05 03:48] aequasi opened #142 "Posting array as JSON body"
I'm trying to post the following JSON, but im not sure how to set up my operation...

[code]

[2017-05-07 06:01] igorsantos07 opened #143 "Documentation?"
I was interested in implementing an API Client using Guzzle Services, but got a bit lost reading the simple README file. There's no description of the options, allowed types and whatnot... Nor a documentation link.

I found an [old doc from Guzzle 3](http://guzzle3.readthedocs.io/webservice-client/guzzle-service-descriptions.html#), though. Is this still valid? If yes, shouldn't it be linked in th

[2017-05-10 21:10] MI-LA01 commented on #143
+1

[2017-05-17 15:25] delamart opened #145 "Operations extends is broken in 1.1.1"
I just upgraded to version 1.1.1 and my unit tests stopped working because a parameter is no longer being set in my commands. Version 1.1.0 works fine.

I used the extends option like this:
[code]

The parameter `format=json` was being set correctly on all commands but now I have to set it manually in the command if I want it to work.

[2017-05-17 20:54] Konafets commented on #145
Can you post your faling test?

[2017-05-17 21:23] delamart commented on #145
Sorry can't post my code as is, and technically my unit tests are more integration tests as I connect to a live API (test server).

Basically I have the above operations and use the following model:
[code]
I use a `\GuzzleHttp\Client` with a custom Handler to set HTTP Basic Auth on every request and
a `GuzzleHttp\Command\Guzzle\GuzzleClient` with the above operations and models as `GuzzleHttp\Comm

[2017-05-18 07:26] delamart commented on #145
Ok I had time to write a quick test. I forked the project and added a test which works with tag 1.1.0 but no longer in master.

See commit here: https://github.com/delamart/guzzle-services/commit/2d50fa4fb9f6ac4f65a6271f7d7079be91b396aa

[2017-05-18 10:21] Rarst opened #146 "Default values ignored in 1.1"
If I update to 1.1.1 my operations start to fail, since `default` values for parameters are ignored and omitted.

Like [here](https://github.com/Rarst/wporg-client/blob/d4f2def6a80a86a428d96fd323c327c308894109/php/WporgService.php#L129-L136) `version` becomes missing in URL and `action` becomes missing from POST, unless explicitly passed to command.

[2017-05-18 10:42] Rarst commented on #64
Thank you for info, this is properly not worth the trouble for now and I will stick with handling this in calling methods.

[2017-05-18 10:42] #64 closed

[2017-05-18 14:18] selfcatering commented on #146
I can confirm same, all defaults are ignored.

[2017-05-18 16:55] delamart commented on #146
I think my issue #145 might be related.

[2017-05-19 09:00] selfcatering commented on #146
Failing test https://github.com/selfcatering/guzzle-services/commit/5987ac6ca2bee2f5770a6428a4cca3dd6b8a6738

[2017-05-19 09:31] #145 closed

[2017-05-19 09:31] #146 closed

[2017-05-19 09:38] Konafets commented on #145
@delamart Thanks for your test. This helped to find the culprit.

[2017-05-19 09:53] Rarst opened #147 "Parameter type configuration causes issue when filters change input type"
Let's say I have [this parameter configuration](https://github.com/Rarst/wporg-client/blob/36559414bc5248c2812316224f944881d438d222/php/WporgService.php#L160-L167), which worked in 1.0

[code]

As is it started to cause error in 1.1, I think because I _input_ array, but _resulting_ parameter after filters is string:

[code]

However if I change `type` to `string` I get another error, since it now

[2017-05-19 09:53] delamart commented on #145
Great, thanks I upgraded to 1.1.2 and my lib works again.

[2017-05-22 09:14] Rarst commented on #147
Call stacks for the two calls with different behavior:

Description validation (doesn't cast array to string):

[code]

Request preparation (does cast or something to string):

[code]

[2017-05-22 22:31] MI-LA01 commented on #122
I don't know if this can help, but i confirm we facing the same issue right now, As a workaround, you can define the header name as the key for the array like this

[code]

[2017-05-23 03:38] mims92 commented on #122
I don't think it's a workaround. I think it's the correct way of doing this and the doc is outdated as Konafets mentioned.

[2017-05-23 21:02] pwaterz commented on #143
Is this project being actively maintained? I too am wondering the same thing.

[2017-05-23 21:13] pwaterz commented on #143
Looking through the test https://github.com/guzzle/guzzle-services/blob/master/tests/DescriptionTest.php, it looks like the options are the same for guzzle 6

[2017-05-23 21:43] Konafets commented on #143
Hi,

the project working as in the old documentation described. I like to extract the part from the old doc but need to find the time. Its on my todo list :-)

[2017-05-30 17:12] bakura10 opened #148 "Breaking change for object"
Hi,

I didn't have time to check yet, but we had a user of our library ZfrShopify having a breaking change in last version of Guzzle-Services (downgrading to 1.1.0 fixed the issue).

We have a descriptor that looks like this:

[code]

We called it this way:

[code]

This used to properly serializes those parameters as ?metafield[owner_id]=123&metafield[owner_resource]=product

In the last version,

[2017-06-26 01:12] Nader-Zubaid commented on #134
reply+0187cec5533e4c464be0a26d0deed8454cb8cf6aa248b53c92cf0000000115673d7e92a169ce0dcbb4e1@reply.github.com

[2017-07-06 17:35] shadowhand commented on #143
I would love to see the old docs added to the README or something. It took me quite a while to realize the old docs were still relevant.

[2017-07-26 08:03] dpk125 opened #150 "Posting array of strings in multipart location"
Is it possible to post array of multipart strings (files)? Right now I have to list each parameter manually, which isn't very flexible:

[code]

I've also tried this:

[code]

but it doesn't work, because MultiPartLocation or Psr7\MultipartStream doesn't handle array properly.

Multipart additionalParameters would probably solve my issue, but I guess it hasn't been implemented yet. https://github.

[2017-08-18 13:09] oliverde8 commented on #134
Hi,

This issue is still present in the 1.1.2 release,

[code]

This will crash because in the `ValidationDescriptionHandler` the filtering is already done, and later on, the filtering is done again by the `Parameters->filter`

which caused the fallowing issue
[code]

I am not sure I understand why filtering is done at all at the validation step. Originally my parameter description was :

[code]
B

[2017-08-19 14:20] danizord commented on #134
Hey @oliverde8, this issue was reintroduced since my PR #135 got reverted by https://github.com/guzzle/guzzle-services/commit/65ded511e534f98fa3abe4471a28ab7317237cf4. It seems like https://github.com/guzzle/guzzle-services/issues/145 relies on this behavior :/

[2017-08-19 14:41] Konafets commented on #134
Hi,

the removal introduced a regression or as @danizord mentioned, some folks rely on the odd behavior. I plan to work on that issue and other stuff regarding this package in September again. Stay tuned or provide a PR which takes both issues into account and comes with proper tests :-)

[2017-08-20 19:35] oliverde8 commented on #134
Hi,

I will be using 1.1.1 for now as I have limited time on this part of the application and need to finish everything by mid September. I basically upgraded a library that was using guzzle 4 but couldn't use as it is due to other dependencies requiring guzzle 6.

If i have any time I will look into it for a PR, but I don't think I will have time,

Thanks for you support

[2017-08-25 03:24] my2ter opened #151 "Shouldn't the wireName key be used when visiting an array?"
https://github.com/guzzle/guzzle-services/blob/0a8b5d304305a36b7a907c8ccf4971f232c54832/src/ResponseLocation/JsonLocation.php#L105

This seems better to me:
[code]

That would fix my problem but maybe my model is not properly defined... Even so, if that's the later, I don't understand the use of the wireName then.

Cheers.

[2017-09-24 11:55] Rarst commented on #147
I've moved on to a new API versions that don't need these filters, so unblocked on update and unlikely to follow up.

[2017-09-24 11:55] #147 closed

[2017-09-28 01:53] my2ter commented on #151
Hi @Konafets , sorry to bother you, could you have a look please?

[2017-09-28 06:19] Konafets commented on #151
Hi @my2ter,

I never used that feature by myself. Did you consult the manual entry for this? There is a description of `sentAs`at http://guzzle3.readthedocs.io/webservice-client/guzzle-service-descriptions.html#parameter-schema

[2017-09-28 10:09] my2ter commented on #151
@konafets the doc seems to be about a request but I'm only seeing a problem from the response POV. Check my PR #152 maybe, I made a test to explain the issue. I tagged you because you were the most recent person involved in the project as it seems to be a bit dead atm :) Sorry again for bothering you. Ta

[2017-10-01 23:19] my2ter commented on #151
@Konafets I can confirm the behaviour I am describing based on the doc you listed:

Without my fix this behaviour isn't working as expected.

[2017-10-08 23:37] my2ter commented on #151
Thanks @Konafets, can close this issue. Merged with #152

[2017-10-08 23:37] #151 closed

[2017-10-14 21:23] rdohms opened #153 "Weird behaviour without models"
In my meetup-api client I use the descriptions, but i don't use Models, since they would be too many to manage and unneeded.  With the previous version based on Guzzle 3 this would be fine and I would intercept the response and do my thing.

In this version it seems to return a completely empty `Result`, no HTTP code, nothing.
I was very confused and then I found this: https://github.com/guzzle/gu

[2017-11-02 15:40] Guibod commented on #69
Soon they said. 2 years ago.

[2017-11-21 09:31] thedustin opened #154 "Weird "equal equal not" operator"
I'm evaluating guzzle/guzzle-services at the moment for our team and scrolled a bit through the source code when I found a _weird_ operator I haven't seen yet: `==!`¹.
What does this operator do? After first experiments it looks like a weird `$var == !null`, but why do you write it this way?

Thanks for your help and best regards.

¹ https://github.com/guzzle/guzzle-services/blob/master/src/Guzzle

[2017-11-21 10:36] Konafets commented on #154
To me it looks like it should be `!==`, but unintentionally it works anyway for the reason you describe. If can open an PR if you like.

[2017-11-21 10:57] Konafets commented on #154
Fixed it myself :-)

[2017-11-28 21:29] sandervanhooft opened #155 "Recommended test setup?"
Hi,

I am writing an API client wrapper which I need to test. What is the recommended way to use guzzle services + mocking + history (request) tracking?

Does anyone have an example API client wrapper available?

I read through the Guzzle docs ([link](http://docs.guzzlephp.org/en/stable/testing.html)) and tried to find a solution in this repo('s issues), but it's not clear to me.

\- Sander

[2017-12-01 08:52] lehroj opened #156 "Unable to POST multipart parameters"
Hi,

I've a problem to create my request:

[code]

API returns that the 2 fields aren't sent.
But if I create a simple request like this, it works perfectly.

[code]

Any idea ?

[2018-01-10 21:03] bangpound commented on #142
Did you solve this problem @aequasi ? I'm encountering the same thing.

[2018-01-11 17:41] aequasi commented on #142
Nope, i just wrote my own function to handle it.

[2018-01-18 16:23] gkzsolt commented on #69
We are using Guzzle services successfully for a few years now and I thought to upgrade it, because version 3.5 is very outdated, you have Guzzle 6 now. Composer is warning me any time that "Package guzzle/guzzle is abandoned, you should avoid using it. Use guzzlehttp/guzzle instead." So I decided to upgrade to 6, or, well, to version 5. So far so good.

The problems start when I want to migrate my

[2018-03-16 12:44] marcoooo opened #159 "Is there a way to put other models definition for list items ?"
Hi, thanks for your module :-)

I want to know if it's possible to assign "models" inside results type array in service definition, for example:

    "CardReference": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "The url leading to the full Card object."
        },
        "reference": {
          "type": "string",

[2018-03-16 13:20] marcoooo commented on #159
Well I answer myself, yes :-)

[2018-03-16 13:20] #159 closed

[2018-03-19 19:30] timwhitlock opened #160 "Raw request body data"
Hi.

I notice that the `BodyLocation` for "body" parameters adds the name of the bound parameter to the request body. e.g. `[ 'raw' => 'data' ]` gets posted as an 8 byte string in the request: `raw=data`.

Is this deliberate? I assumed that value pairs would be handled by `FormParamLocation` and that the "body" location would be for raw/binary data.

I'm looking to post data as the body as if I ha

[2018-03-19 22:28] marcoooo opened #161 "What am i doing wrong ?"
Hi all.
my services declares a method "list" as follow:

    "operations": {
        "list": {
        "httpMethod": "GET",
        "uri": "contacts",
        "summary": "List all contact",
        "responseModel": "ContactList",
        "parameters": {
          "card": {
            "type": "boolean",
            "location": "query",
            "required": false,
            "summary": "if true

[2018-04-16 12:49] timwhitlock commented on #160
If anyone's interested, I got around this problem by passing [my own BodyLocation class](https://github.com/loco/loco-php-sdk/blob/master/src/Http/Request/BodyLocation.php).

This can be set by overriding the request serializer and [passing it thus](https://github.com/loco/loco-php-sdk/blob/master/src/Http/Serializer.php#L24).

[2018-05-22 16:18] rulatir opened #162 "Please document how to use middleware with GuzzleClient"
[StackOverflow question](https://stackoverflow.com/questions/50472072/guzzle-services-how-to-use-middlewares-with-guzzleclient-client-as-opposed-to)

Please document how to use middlewares with GuzzleClient. I am trying to add a middleware to add an "illegal" query param for cache busting. The way of doing things as documented for working with `GuzzleHttp\Client` directly doesn't seem to be workin

[2018-06-21 10:06] cdarken commented on #69
@gkzsolt same here, I'm pulling my hair out looking for something about that ResponseClassInterface. I can't find anything. In the upgrade guide from 3 to 4 they're mentioning methods that are gone in v4.

[2019-01-03 03:14] rodsouto commented on #153
I found this issue today, it's weird to return an empty result if we already have a valid response :/

[2019-01-28 14:47] tlorens commented on #69
Use the source, Luke.

[2019-01-28 14:51] tlorens commented on #162
I'm able to use kamermans\OAuth2 middleware for authing requests in-flight.   Wire up your Guzzle setting the Handler in the Client and pass it along to the GuzzleService().

[2019-01-28 14:53] tlorens commented on #161
If 'card' is mean to be a parameter, shouldn't `{card}` be included in the defined uri?

` 'uri': "contacts/{card}"`

[2019-02-05 03:13] tlorens opened #163 "Better responseModel/responseClass feature."
Having a dataMapper type method would be a nice to have.  I'm having to work with a janky API which doesn't have consistency in it's results.  It also is quiet generic and just returns 'data' without any description of what I'm getting back.  Having a 'dataMapper' option to trigger a function/callable to iterate over the results mapping the key->values would be a way to do this.  I've been able to

[2019-02-20 21:27] adick commented on #163
Take a look at #138, @danizord had an interesting approach using a filter (https://github.com/guzzle/guzzle-services/pull/138/commits/e66162a0fb573d17a0501de5538026b626277040) and @Konafets posted an example of an own client implementation where the result gets wrapped by your own custom object, which could handle your data mapping.

[2019-02-21 00:03] adick commented on #161
Probably it's because of your json_encode filter, which casts your boolean true to a string "true".

@tlorens: no it shouldn't, because the specified location is `query`. This can be looked up in the [descriptions documentation](https://guzzle3.readthedocs.io/webservice-client/guzzle-service-descriptions.html#query-location).

[2019-02-22 08:56] marcoooo commented on #161
Yes this was the reason, I finally found a workaround.
Thanks for your help anyway.

[2019-02-22 08:56] #161 closed

[2019-04-11 16:15] vladx1900 opened #164 "Create request without root key"
How can I define the operation's parameters when there is no root key?

I'm trying to create a request for an endpoint which accepts the following request body:
[code]

[2019-04-30 02:37] tlorens commented on #164
Copy the jsonLocation class.  You can remove the 'root key' from the jsonData variable.  Be sure to set the location to your new class.

[2019-04-30 02:48] tlorens commented on #163
My current solution is much like what @Konafets did but with the mapper defined in the service config array.  It'd be nice if the 'model' configuration would instantiate an actual 'type' object. Then you could define all your result models and they'd be assignable.

[2019-04-30 19:19] tlorens commented on #134
You can just create your own location class that implements AbstractLocation and override the functions that are calling the filters again.

[2019-07-20 13:16] yaozongyou commented on #160
this is of great help~, thanks.

[2019-07-20 13:17] yaozongyou commented on #160
The same question occurs to me, is this will be fixed？

[2019-08-07 04:32] GuyPaddock opened #165 "Support for Multiple `type` Options within Response Models"
We are writing a client to wrap a vendor-supplied REST API. One of the values that the API returns can be either `null`, a scalar string value, or an array of strings. I'm trying to model this as follows:

[code]

This causes problems, because it appears that `\GuzzleHttp\Command\Guzzle\ResponseLocation\JsonLocation::recurse` does not handle the case where `type` is an array of types rather than a

[2019-08-07 18:35] GuyPaddock opened #166 "Tests Fail with guzzlehttp/psr7 >= 1.6.0"
The 1.6.x release of `guzzlehttp/psr7` appears to have introduced additional checks and verifications that break tests for Guzzle Services. This persists even with version 1.6.1 of `guzzlehttp/psr7` which supposedly had rolled-back several type assertions to defer them until 2.0.0.

As a workaround, tests pass if `guzzlehttp/psr7` is downgraded to 1.5.2 with `composer require guzzlehttp/psr7:1.5.2

[2019-08-20 22:40] GuyPaddock opened #169 "Feature Request - Ability to Bind Parameter Filters to Specific Request Stages"
As touched on briefly in #134, if a parameter has a `filter` defined, Guzzle Services applies that filter at the following stages:
1. Before validation, in `\GuzzleHttp\Command\Guzzle\Handler\ValidatedDescriptionHandler::__invoke()`.
2. Before writing the value out to the wire in a request, in:
  a. `GuzzleHttp\Command\Guzzle\RequestLocation\AbstractLocation::prepareValue()`
  b.  `GuzzleHttp\Comm

[2019-08-21 05:41] GuyPaddock opened #170 "What branch is under active development?"
It seems like this project is trying to use GIT Flow, with `master` being the branch where releases go after they're released, and `develop` being the branch where bleeding edge development ahead of a release is integrated. But... the default branch is `master` and a lot of recent PRs were merged to `master`. Consequently, the `master` and `develop` branches have diverged.

If this project is foll

[2019-09-07 23:26] GuyPaddock opened #172 "Feature Request: Ability to Specify "process: false" at Operation Level"
We are working with a service that is mostly JSON but that has some resources that return binary data (images). Trying to accommodate this with the current version of Guzzle Services is inconvenient because the option as to whether or not a response should be parsed/processed is specified in the service client config instead of in the operation config.

My current workaround is that all of our req

[2019-10-17 18:39] phareous commented on #170
looks like this project is abandoned now, no commits in two years, and a bunch of pending pull requests and issues which haven't been addressed

[2020-07-23 08:20] stof opened #173 "State of the project"
This project (and its dependency https://github.com/guzzle/command) are currently requiring Guzzle 6, while Guzzle 7 is now the stable release. What is the plan for these packages ? Are they still maintained ? And if yes, will they support Guzzle 7 ?

[2020-07-23 23:30] elijahchancey commented on #173
Please add support for Guzzle 7. I depend on several packages that depend on Guzzle Services. I'd like to upgrade to Guzzle 7 when possible.

[2020-07-24 15:13] Konafets commented on #173
Hi,

I am the last active maintainer as far as I know. Currently I have no project using this lib so I have no need nor testing environment for updating this to Guzzle 7.

Everyone is invited to provide an PR :-)

[2020-07-24 16:13] stof commented on #173
According to the changelog of guzzle 7, I think adding support for Guzzle 7 in https://github.com/guzzle/command and here should be quite easy actually. It might even be possible to support Guzzle 6 and 7 in a single version of these packages (BC breaks seems to be mostly for code extending the guzzle classes, and these 2 packages don't do it AFAICT).

[2020-08-11 12:35] vduglued commented on #173
@stof are you thinking of contributing a PR? I'm working on something new and this package would be useful but, with the lack of activity, I wonder whether everyone's using something else as a simple generic REST client in PHP that I'm not aware of.

[2020-09-09 15:01] bumbummen99 commented on #173
Created a PR for guzzle/command (https://github.com/guzzle/command/pull/40) and this repository (https://github.com/guzzle/guzzle-services/pull/174)

[2020-10-02 22:53] tlorens commented on #173
I found this.
https://github.com/8p/EightPointsGuzzleBundle

Looks like it's pretty close to this project.

[2020-10-05 08:42] stof commented on #173
@tlorens not at all. EightPointsGuzzleBundle is about integrating Guzzle with Symfony to configure Guzzle clients. This guzzle-services package is about building SDKs on top of Guzzle.

[2020-11-13 22:20] #154 closed

[2020-11-27 07:55] doox911 opened #177 "guzzlehttp/guzzle dosn't work after update php to php 8"
**PHP version**:
[code]

**Description**
I use the `guzzlehttp/guzzle` package in **Laravel 8**. After upgrading to **PHP 8**, I get:

**How to reproduce**
Use:
composer.json:
[code]
If I call `opcache_reset ();` before `$this->client = new \GuzzleHttp\Client; $response = $this->client->post(...)`, it works.

[2020-11-27 21:31] doox911 commented on #177
https://stackoverflow.com/questions/65033643/guzzlehttp-guzzle-dosnt-work-after-update-php-to-php-8/65044002#65044002

[2020-11-27 21:31] #177 closed

[2020-11-27 22:14] Konafets commented on #177
This repository belongs to `guzzle/guzzle-services` and not Guzzle itself. If you have problems with Guzzle, please open up an issue there.

[2020-12-15 16:13] breenie opened #178 "Not possible to install on PHP <=7.3"
PHP 7.2

**Description**

The contributing guidelines stipulate a minimum version of 7.2, the minimum version in composer is >=7.3.

**How to reproduce**

Attempt a composer install using a PHP version == `7.2.x`.

**Possible Solution**
Partially revert https://github.com/guzzle/guzzle-services/commit/57759d6ffd2000e61d6e8a057f8e74c7c2a88409

**Additional context**
The tip of guzzlehttp currently

[2021-01-21 12:51] SoftCreatR commented on #178
I currently have the same problem.

[2021-02-24 02:46] moniang commented on #69
Is it now 2021 and the document has not been updated yet?

[2021-02-24 02:47] moniang commented on #69
Is it now 2021 and the document has not been updated yet?

[2021-05-09 09:34] naveen-kumar-sw opened #179 "Why headers are not being passed ?"
**PHP version**: x.y.z (hint: `php --version`)

**Description**
In Serializer.php -> private function createCommandWithUri() while creating request why the headers are not being passed. If I want to pass headers to request how I can do that without modifying this file ?

**How to reproduce**

**Possible Solution**

**Additional context**

[2021-08-14 22:27] GrahamCampbell commented on #170
master. the project is not abandoned. I am taking over here, with @Nyholm for an extra pair of eyes where required. :)

[2021-08-14 22:27] #170 closed

[2021-08-14 22:28] GrahamCampbell commented on #178
The next release will restore support for PHP 7.2.5 and higher.

[2021-08-14 22:28] #178 closed

[2021-08-14 22:28] GrahamCampbell commented on #173
I am taking over here, with @Nyholm for an extra pair of eyes where required. :)

[2021-08-14 22:28] #173 closed

[2021-08-14 22:36] GrahamCampbell commented on #148
Did you get anywhere with debugging this?

[2021-08-14 22:37] GrahamCampbell commented on #166
Thanks for your work here. Fixed now. :)

[2021-08-14 22:37] #166 closed

[2021-08-15 04:33] bakura10 commented on #148
Hi Graham ! That’s a long time ago, I do not really remember. I unfortunately stopped backend development a few years ago.

[2021-08-15 10:30] #148 closed

[2021-08-15 10:31] GrahamCampbell commented on #148
Ok, I'm going to close this out. :)

[2021-08-23 23:44] CodeByZach opened #181 "Ran into composer issue because package does not auto update."
<img width="1390" alt="Screen Shot 2021-08-23 at 7 43 19 PM" src="https://user-images.githubusercontent.com/20159826/130533359-2608043f-70ab-43e8-a163-22604c3889f5.png">

[2021-08-24 00:57] GrahamCampbell commented on #181
What issue did you run into, in practice?

[2021-08-24 19:29] CodeByZach commented on #181
In just one example below, references calls were being made to a now depreciated function in PSR7 which was causing the code to fail like so:
`Call to undefined function GuzzleHttp\\Psr7\\stream_for()`

Version 1.2.0:
https://github.com/guzzle/guzzle-services/blob/21e931a4784a132fa78ea7c37abf0e806b053c23/src/RequestLocation/JsonLocation.php#L50

Version 1.3.0 (latest)
https://github.com/guzzle/guz

[2021-08-24 22:49] #181 closed

[2021-08-24 22:50] GrahamCampbell commented on #181
No, I already ran this after tagging v1.3.0. As you can see from your screenshot, any further manual runs won't have done anything since v1.3.0 was already there. Probably you just needed to run composer update locally.

[2021-08-24 22:52] CodeByZach commented on #181
It most definitely was **not** already there. I took that screenshot after resolving the issue.

[2021-08-24 23:06] GrahamCampbell commented on #181
Oh dear. I'm going to check in with Tobias about this.

[2022-03-03 11:22] GrahamCampbell commented on #17
Closing since stale - I'm doing a cleanup across the whole organization, to enable us to focus on the tickets that are still live and have interest. Please feel free to open a new issue if this still is important to you. :)

[2022-03-03 11:22] #17 closed

[2022-03-03 11:23] GrahamCampbell commented on #70
Closing since stale - I'm doing a cleanup across the whole organization, to enable us to focus on the tickets that are still live and have interest. Please feel free to open a new issue if this still is important to you. :)

[2022-03-03 11:23] #70 closed

[2022-03-03 11:23] GrahamCampbell commented on #79
Closing since stale - I'm doing a cleanup across the whole organization, to enable us to focus on the tickets that are still live and have interest. Please feel free to open a new issue if this still is important to you. :)

[2022-03-03 11:23] GrahamCampbell commented on #86
Closing since stale - I'm doing a cleanup across the whole organization, to enable us to focus on the tickets that are still live and have interest. Please feel free to open a new issue if this still is important to you. :)

[2022-03-03 11:23] #86 closed

[2022-03-03 11:23] GrahamCampbell commented on #103
Closing since stale - I'm doing a cleanup across the whole organization, to enable us to focus on the tickets that are still live and have interest. Please feel free to open a new issue if this still is important to you. :)

[2022-03-03 11:23] #103 closed

[2022-03-03 11:23] GrahamCampbell commented on #104
Closing since stale - I'm doing a cleanup across the whole organization, to enable us to focus on the tickets that are still live and have interest. Please feel free to open a new issue if this still is important to you. :)

[2022-03-03 11:23] #104 closed

[2022-03-03 11:23] GrahamCampbell commented on #114
Closing since stale - I'm doing a cleanup across the whole organization, to enable us to focus on the tickets that are still live and have interest. Please feel free to open a new issue if this still is important to you. :)

[2022-03-03 11:23] #114 closed

[2022-03-03 11:23] GrahamCampbell commented on #124
Closing since stale - I'm doing a cleanup across the whole organization, to enable us to focus on the tickets that are still live and have interest. Please feel free to open a new issue if this still is important to you. :)

[2022-03-03 11:23] #124 closed

[2022-03-03 11:23] GrahamCampbell commented on #125
Closing since stale - I'm doing a cleanup across the whole organization, to enable us to focus on the tickets that are still live and have interest. Please feel free to open a new issue if this still is important to you. :)

[2022-03-03 11:23] #125 closed

[2022-03-03 11:24] GrahamCampbell commented on #133
Closing since stale - I'm doing a cleanup across the whole organization, to enable us to focus on the tickets that are still live and have interest. Please feel free to open a new issue if this still is important to you. :)

[2022-03-03 11:24] #133 closed

[2022-03-03 11:24] GrahamCampbell commented on #122
Closing since stale - I'm doing a cleanup across the whole organization, to enable us to focus on the tickets that are still live and have interest. Please feel free to open a new issue if this still is important to you. :)

[2022-03-03 11:24] #122 closed

[2022-03-03 11:24] GrahamCampbell commented on #140
Closing since stale - I'm doing a cleanup across the whole organization, to enable us to focus on the tickets that are still live and have interest. Please feel free to open a new issue if this still is important to you. :)

[2022-03-03 11:24] #140 closed

[2022-03-03 11:24] GrahamCampbell commented on #142
Closing since stale - I'm doing a cleanup across the whole organization, to enable us to focus on the tickets that are still live and have interest. Please feel free to open a new issue if this still is important to you. :)

[2022-03-03 11:24] #142 closed

[2022-03-03 11:25] GrahamCampbell commented on #150
Closing since stale - I'm doing a cleanup across the whole organization, to enable us to focus on the tickets that are still live and have interest. Please feel free to open a new issue if this still is important to you. :)

[2022-03-03 11:25] #150 closed

[2022-03-03 11:25] GrahamCampbell commented on #153
Closing since stale - I'm doing a cleanup across the whole organization, to enable us to focus on the tickets that are still live and have interest. Please feel free to open a new issue if this still is important to you. :)

[2022-03-03 11:25] #153 closed

[2022-03-03 11:25] GrahamCampbell commented on #155
Closing since stale - I'm doing a cleanup across the whole organization, to enable us to focus on the tickets that are still live and have interest. Please feel free to open a new issue if this still is important to you. :)

[2022-03-03 11:25] #155 closed

[2022-03-03 11:25] GrahamCampbell commented on #156
Closing since stale - I'm doing a cleanup across the whole organization, to enable us to focus on the tickets that are still live and have interest. Please feel free to open a new issue if this still is important to you. :)

[2022-03-03 11:25] #156 closed

[2022-03-03 11:26] GrahamCampbell commented on #143
Duplicate of https://github.com/guzzle/guzzle-services/issues/69.

[2022-03-03 11:26] #143 closed

[2022-10-12 21:07] garrettrathbone opened #184 "Extending a parameter that extends another parameter doesn't work as expected"
**Description**
If a model/parameter (model 1) extends another model/parameter (model 2) that itself extends another model/parameter (model 3), it should be assumed that model 1 has properties that were pulled through from model 3, but instead only values from model 2 are pulled through.

**How to reproduce**
Create 3 models:
- model 3 have a property on it
- model 2 extends model 3 with a differe